@font-face {

  font-family: 'CenturyGothic'; /* название шрифта */

  src: url('fonts/centurygothic.ttf') format('ttf'); /* путь к файлу шрифта */

  font-weight: normal; /* обычный начертание */

  font-style: normal; /* обычный стиль */

}
.snip1527 {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  float: left;
  font-family: 'Lato', Arial, sans-serif;
  font-size: 16px;
  margin: 10px 1%;
  max-width: 310px;
  min-width: 250px;
  overflow: hidden;
  position: relative;
  text-align: left;
  width: 100%;
}

.snip1527 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.snip1527 img {
  max-width: 100%;
  vertical-align: top;
  position: relative;
}

.snip1527 figcaption {
  padding: 25px 20px 25px;
  position: absolute;
  bottom: 0;
  z-index: 1;
}

.snip1527 figcaption:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #700877;
  content: '';
  background: -moz-linear-gradient(90deg, #700877 0%, #ff2759 100%, #ff2759 100%);
  background: -webkit-linear-gradient(90deg, #700877 0%, #ff2759 100%, #ff2759 100%);
  background: linear-gradient(90deg, #700877 0%, #ff2759 100%, #ff2759 100%);
  opacity: 0.8;
  z-index: -1;
}

.snip1527 .date {
  background-color: #fff;
  border-radius: 50%;
  color: #700877;
  font-size: 18px;
  font-weight: 700;
  min-height: 48px;
  min-width: 48px;
  padding: 10px 0;
  position: absolute;
  right: 15px;
  text-align: center;
  text-transform: uppercase;
  top: -25px;
}

.snip1527 .date span {
  display: block;
  line-height: 14px;
}

.snip1527 .date .month {
  font-size: 11px;
}

.snip1527 h3,
.snip1527 p {
  margin: 0;
  padding: 0;
}

.snip1527 h3 {
  display: inline-block;
  font-weight: 700;
  letter-spacing: -0.4px;
  margin-bottom: 5px;
}

.snip1527 p {
  font-size: 0.8em;
  line-height: 1.6em;
  margin-bottom: 0px;
}

.snip1527 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

.snip1527:hover img,
.snip1527.hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.counter{

  display: none;
}


/* CSS для центрирования div по центру экрана */

.center{
  display: flex;
  align-items: center;
  margin-left: 21%;
}
.mob-center{
  display: none;
}
.fr-center {

  display: flex;

  flex-direction: column;

  align-items: flex-start;

  justify-content: space-between;
  padding-right: 5em;
  font-family: CenturyGothic, Arial;
}
.fr2-center {
  display: flex;
  flex-direction: column;
 width: 30%;
 margin-left: 34%;
 font-size: 1.5em;
 font-family: CenturyGothic, Arial;
}

.f-center h1, .center h3 {

  text-align: left;

}


.image {

  text-align: right;

}
.first_img{
  border-radius: 3em;
}

@media only screen and (max-width: 600px) {

  .fr-center {

      flex-direction: column;
     

  }
  


  .first_img {

      text-align: center;
      width: 15em;
      height: 25em;
  }



.first_img{
  border-radius: 3em;
}


  .сenter {
      display: flex;
      flex-direction: column;
      align-self: stretch;
      
  }

  .snip1527{
    width: 10.1em;
      height: 15.1em;
  }
  .image {

      text-align: center;
      width: 10em;
      height: 15em;
  }
  figcaption {

      display: none;
  }
  .mob-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 21%;
  }



}